# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Build
dist/
build/
*.tsbuildinfo

# C/C++
*.exe
*.out
*.o
*.obj
a.out

# CPH
.cph/

# Env
.env
.env.local
.env.*.local
